@charset "UTF-8";

/* Cor de fundo da página */
html {
    background-color: lightgray;
}

/* Cor de fundo do corpo da página */
body {
    width: 1350px;
    height: auto;
    margin: 0px auto 0px auto;
    background-color: whitesmoke;
    font-size-adjust: 100%;
}


/* Cor de fundo do menu de navegação */
.menu ul {
    margin-top: -5px;
    background-color: #525266;
    padding: 10px;
}

/* Cor de fundo e posição dos itens do menu de navegação */
.menu ul li {
    background-color: #525266;
    display: inline;
    padding: 10px 80px;
}


/* Definindo fonte, tamanho, cor, letras maiuscula 
e removendo decoração dos links do menu de navegação*/
.menu ul li a {
    font-size: 1.3em;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* Mudança ao passar o mouse sobre o menu de navegação*/
.menu ul li a:hover {
    color: #525266;
    background-color: whitesmoke;
}

/* Tamanho do Box da Introdução */
.introducao {
    width: 1050px;
    margin: 0px 150px 0px 150px;
}

/* Formatação do Título da introdução */
.introducao > .titulo {
    text-align: center;
    color: cadetblue;
    font-size: 2em;
}

/* Formatação e posição da introdução */
.introducao > .texto {
    margin: 0px;
    padding: 0px 50px 0px 50px;
    text-align: justify;
    font-family: serif;
    font-size: 1.3em;
    color: dimgray;
}

/* Tamanho do Box do texto principal */
.conteudo {
    width: 1075px;
    float: right;
}

/* Formatação do Título do texto prncipal */
.conteudo > .titulo {
    text-align: center;
    color: cadetblue;
    font-size: 2em;
}


/* Formatação e posição do texto principal */
.conteudo > .texto {
    margin: 0px;
    padding: 0px 100px 0px 100px;
    text-align: justify;
    font-family: serif;
    font-size: 1.3em;
    color: dimgray;
}

/* Posição do Link "Inicio" */
.inicio {
    margin: 30px 475px -20px 500px;
    text-align: center;
}

/* Formatação do link "Inicio" */
.inicio a {
    font-family: cursive;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
}


/* Posição do Menu de progrresso */
.progresso {
    margin-top: 26px;
    border: 1px solid #525266;
    width: 273px;
    height: auto;
    float: left;
    background-color: #e8e8e8;
}

/* Posição e formatação do titulo do menu de progresso */
.progresso p {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.3em;
    color: white;
    background-color: #525266;
}

/* Posição e formatação dos links do menu de progresso */
.progresso li a {
    text-decoration: none;
    color: cadetblue;
    font-family: fantasy;
    font-size: 1.1em;
}

/* Formatação dos itens da lista do menu de progresso */
.progresso li {
    list-style-type: disc;
}


/* Alinhando os itens do menu de interaçao */
.interacao ul li {
    display: run-in;
    margin-left: 80px;
}

/* Definindo fonte, tamanho, cor e removendo 
decoração dos links do menu de interaçao */
.interacao ul li a {
    text-decoration: none;
    font-family: cursive;
    font-size: 1.7em;
    margin: 0px 0px 0px 270px;
    color: black;
}


/* Tamanho do rodapé e cor de fundo */
.rodape {
    background-color: #525266;
    width: 1350px;
    height: 110px;
    margin-top: 50px;
    clear: both;
}

/* Formatação  e posição do texto do rodapé */
.rodape p {
    padding-top: 5px;
    text-align: center;
    font-family: serif;
    color: white;
}
